.yearbox{
    border: 5px solid rgb(222, 23,102);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  
}
.heading{
        border: 3px solid purple;
    width: 100%;
    height: 100%;
        display: flex;
    flex-wrap: wrap;
    margin: auto;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      text-align:center;
      color:blue;
}
.paper{
         border: 3px solid purple;
    width: 50%;
    height: 100%;
        display: flex;
    flex-wrap: wrap;
    margin: auto;
      margin-top: 10px;
      font-size: 30px;
      text-align:center;
      color:blue;
}
.ankertag{

        display: flex;
    flex-wrap: wrap;
    margin: auto;
      margin-left: 12px;
      margin-top: 10px;
      font-size: 20px;
}